# Specify your credentials accordingly
[AZURE]
CONTAINER_NAME = spark-job-dev
SINK_CONTAINER_NAME = spark-data-sink
STORAGE_ACCOUNT_NAME = nlpsparkdev
ACCOUNT_ACCESS_KEY =  <update_me>


# specify the table name and file name accordingly
[STORAGE]
TABLE_NAME             = docai-delta-table
STORAGE_DIRECTORY_NAME    = 10k_data_raw